<app-nav-bar></app-nav-bar>
<div class="carousel carousel-slider carousel-home center" style="margin-bottom: 20%">
  <div class="carousel-item red white-text" href="#one!">
    <br>
    <h2 class="flow-text center">¿Que quieres hacer?</h2>
    <br><br>
    <div class="row">
      <div class="col s4 offset-s2" (click)="routing()">
        <img class="icon-home" src="/assets/svgs/icon-radicar.svg" />
        <h5>VOY A RADICAR</h5>
      </div>
      <div class="col s4" routerLink="/radicar" routerLinkActive="active">
        <img class="icon-home" src="/assets/svgs/icon-consultar.svg" />
        <h5>VOY A CONSULTAR</h5>
      </div>
    </div>
  </div>
  <div class="carousel-item red white-text" href="#two!">
      <h2 class="flow-text center">¿Que quieres hacer?</h2>
      <br><br>
      <div class="row">
        <div class="col s4 offset-s2" routerLink="/radicar" routerLinkActive="active">
          <img class="icon-home" src="/assets/svgs/icon-radicar.svg" />
          <h5>VOY A RADICAR</h5>
        </div>
        <div class="col s4" routerLink="/radicar" routerLinkActive="active">
          <img class="icon-home" src="/assets/svgs/icon-consultar.svg" />
          <h5>VOY A CONSULTAR</h5>
        </div>
      </div>
  </div>
  <div class="carousel-item red white-text" href="#three!">
      <h2 class="flow-text center">¿Que quieres hacer?</h2>
      <br><br>
      <div class="row">
        <div class="col s4 offset-s2" (click)="routing()">
          <img class="icon-home" src="/assets/svgs/icon-radicar.svg" />
          <h5>VOY A RADICAR</h5>
        </div>
        <div class="col s4" routerLink="/radicar" routerLinkActive="active">
          <img class="icon-home" src="/assets/svgs/icon-consultar.svg" />
          <h5>VOY A CONSULTAR</h5>
        </div>
      </div>
  </div>
</div>