<div class="row login">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <img class="animated zoomIn img-logo" src="/assets/svgs/logofenix_blanco.svg" />
      </div>
      <div class="card-content">
        <div class="row">
            <div class="input-field col s12">
                <app-document-type></app-document-type>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">person_pin</i>
                <input id="document" type="password" class="validate">
                <label for="document">Número de documento</label>
              </div>
        </div>
      </div>
      <div class="card-action center-align">
        <a routerLink="/welcome" routerLinkActive="active" class="waves-effect waves-light btn black bold">INGRESAR</a>
      </div>
    </div>
  </div>
</div>