.background-welcome{
    background: red;
    color: white;
}

.background-yellow{
    background: #ffc500;
}

.hello{
    margin-top: 0 !important;
    text-align: center;
}

.img-welcome{
    width: 70% !important;
    height: auto !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .welcome{
        margin: 11% 0%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

}
@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ 
    .welcome{
        margin: 11% 0%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}
@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    .welcome{
        margin-top: 23%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}
@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .welcome{
        margin-top: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    .welcome{
        margin-top: 1.5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 38%;
    }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
    .welcome{
        margin-top: 1.3%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }
}