<app-nav-bar-welcome></app-nav-bar-welcome>
<div class="row welcome">
    <div class="col s12">
      <div class="card">
        <div class="card-image background-yellow animated slideInUp">
          <img class="img-welcome" src="/assets/svgs/tarjetinl.svg">
        </div>
        <div class="card-content background-welcome animated slideInLeft">
          <h3 class="hello">HOLA</h3>
          <p class="center-align"><strong>Jorge Ivan Salazar R.</strong> estas ubicado en <strong>Ceconsud de la carrera 30</strong> en la ciudad de <strong>Bogotá</strong>.</p>
        </div>
        <div class="card-action center-align">
            <a routerLink="/home" routerLinkActive="active" class="waves-effect waves-light btn black bold">ESTOY LISTO</a>
        </div>
      </div>
    </div>
  </div>
