<ul id="slide-out" class="sidenav">
  <li><div class="user-view">
    <div class="background"></div>
    <a><img class="circle center" src="/assets/imgs/user.png"></a>
    <a><span class="white-text name">Jorge Ivan Salazar Rojas</span></a>
    <a><span class="white-text email">Av Siempre viva - Asesor</span></a>
  </div></li>
  <li><div class="divider"></div></li>
  <li><a href="#!"><i class="material-icons">local_phone</i>Soporte</a></li>
  <li><a href="#!"><i class="material-icons">help</i>Ayuda</a></li>
  <li><a href="/"><i class="material-icons">arrow_back</i>Cerrar sesión</a></li>
  <li><a href="#!"><i class="material-icons">exit_to_app</i>Salir</a></li>
  <li><div class="divider"></div></li>
  <img src="/assets/svgs/logofenix.svg" />
</ul>
