<nav class="nav">
  <div class="nav-wrapper">
    <a href="#" data-target="slide-out" class="brand-logo left sidenav-trigger show-on-large">
      <i class="material-icons">dehaze</i>
    </a>
    <a href="#" class="dropdown-trigger brand-logo right" data-target="menu2">
      <i class="material-icons">more_vert</i>
    </a>
  </div>
</nav>

<ul id="menu2" class="dropdown-content">
  <li>
    <a href="#!">
      <i class="material-icons">build</i>Acción 1</a>
  </li>
  <li>
    <a href="#!">
      <i class="material-icons">build</i>Acción 2</a>
  </li>
  <li>
    <a href="#!">
      <i class="material-icons">build</i>Acción 3</a>
  </li>
</ul>

<app-side-nav></app-side-nav>