<nav class="nav">
  <div class="nav-wrapper">
    <a routerLink="/login" routerLinkActive="active" class="brand-logo left">
      <i class="material-icons">arrow_back</i>
    </a>
    <a href="#!" class="dropdown-trigger brand-logo right" data-target="menu1">
      <i class="material-icons">more_vert</i>
    </a>
  </div>
</nav>

<ul id="menu1" class="dropdown-content">
  <li>
    <a href="#!">
      <i class="material-icons">build</i>Acción 1</a>
  </li>
  <li>
    <a href="#!">
      <i class="material-icons">build</i>Acción 2</a>
  </li>
</ul>